.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    text-align: center;
}
.card h3{
    margin: 10px 0;
}
.card p{
    margin: 10px 0;
}