:root{
  --blackBg:#000000;
  --accentBg:#c8815f;
  --whiteBg:#ffffff;
  --grayBg:#f1f1f1;
}
*,ul,form,h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

body{
  font-size: 17px;
  font-family: var(--font-inter);
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--font-roboto-mono);
  font-weight: normal;
}

.main_wrapper{
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

.grid{
  display: grid;
}

.grid_two{
  grid-template-columns: repeat(2,1fr);
}

.grid_three{
  grid-template-columns: repeat(3,1fr);
}

.grid_four{
  grid-template-columns: repeat(4,1fr);
}

.button{
  display: flex;
}
.button a{
  background-color: var(--accentBg);
  padding: 20px 30px;
  color: var(--whiteBg);
  text-decoration: none;
  transition: all .5s;
}
.button a:hover{
  background-color: var(--blackBg);
}
.primery_heading{
  font-family: var(--font-roboto-mono);
  font-size: 40px;
}
